[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
Django = "==1.11.28"
request = "*"
pillow = "*"
psycopg2 = "*"
django-registration-redux = "*"
django-debug-toolbar = "*"
django-environment = "*"
django-crispy-forms = "*"
gunicorn = "*"
django-environ = "*"
fixtures = "*"
pylint-django = "*"

[requires]
python_version = "3.6"
