{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center headline">О нас</h2>
<h3><b>Наш магазин <span class="attention">«Tik-tak clock»</span> рад приветствовать Вас!</b></h3>
<p style="color: darkred">Мы предлагаем качественные копии брендовых часов и стильную бижутерию «Оffice style» по привлекательным ценам.</p>
<p>Почему многие клиенты выбирают нас и возвращаются к нам снова?</p>
<ul>
	<li>Наши цены ниже, чем в других магазинах;</li>
	<li>Самые стильные вещи для современного делового образа жизни, как на работе так и на отдыхе - в одном магазине;</li>
	<li>В нашей компании есть свой Контроль качества. Все товары нашего магазина проходят обязательную проверку на качество.</li>	
</ul>
<p>В нашем интернет магазине постоянно проводятся различные акции, что позволит приобрести товары с еще большей <span class="attention">финансовой выгодой</span>.</p>
<p>Все наши покупатели могут пообщаться напрямую с владельцем интернет-магазина написать на WhatsApp: +79104820616 и адрес эл.почты info@tik-tak-clock.ru</p>
{% endblock content %}