{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="text-center headline">Контакты</h3>
<h5 class="string">Телефон: +79104820616</h5>
<h5 class="string">E-mail:tiktakclock24@gmail.com</h5>

<form method="post" action="{% url 'contact_us' %}">
	{% csrf_token %}
	<div class="row">
		<div class="col-sm-4">
			<input name="subject" placeholder="Тема письма" type="text" class="text" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<input name="sender" placeholder="Ваш email для ответа" type="text" class="text" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<textarea name="message" placeholder="Текст письма"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<p>Написать нам</p>
			<input class="btn btn-success" type="submit" value="Отправить письмо" />
		</div>
	</div>
</form>


{% endblock content %}