{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 class="text-center headline">Доставка по всей России!</h3>
<p class="string">Отправление товара осуществляется из г. Москвы в течение 2-7 дней с момента заказа на сайте. Срок отправки зависит
от наличия товара на складе.</p>
<h4 class="attention">Бесплатная доставка при заказе от 3000 рублей! </h4>
<p class="string">Отправление товара производится заказной бандеролью 1 класса. Средний срок доставки  3 - 21 день, в зависимости от
региона. Срок доставки может быть увеличен в случаях, предусмотренных правилами работы Почты России.</p>
<p class="string">Ваш заказ будет доставлен в отделение почты по месту жительства. После поступления денег на счет магазина Вам будет
отправлен на электронный адрес трек-номер для отслеживания бандероли: </p>
<a class="string" href="https://www.pochta.ru/">Отслеживание почтовых отправлений</a>
<h4 class="string" class="attention">Стоимость доставки:</h4>
<ul>
	<li><b>заказы на общую сумму свыше 3000 рублей  – бесплатно;</b></li>
	<li><b>менее 3000 рублей – 300 рублей.</b></li>
</ul>
<p class="string">Пожалуйста, проверьте, правильно ли Вы указали свой почтовый адрес: после оплаты на этот адрес будет отправлен ваш
заказ. </p>
<p class="string" style="color:darkred">Возможен самовывоз из г. Москвы от станции Верхние Лихоборы при предварительной договоренности.<span class="attention">Самовывоз -
бесплатно!</span></p>
{% endblock content %}