{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center headline">Действующие акции и скидки</h2>

<h3 class="string">Дорогие гости!</h3>
<p class="string">В связи с приятным событием, годовщиной открытия нашего интернет-магазина<span class="attention"> «Tik-tak clock», мы дарим Вам браслет на
удачу «Красная нить» </span>при покупке аксессуара на любую сумму.</p>

<p class="string">В нашем магазине действует <span class="attention">БЕСПЛАТНАЯ ДОСТАВКА</span> при заказе товара на сумму от <span class="attention">3000 руб</span>.
<span class="attention">При 100% предоплате</span> через наш сайт - <span class="attention">скидка 5%</span> на любой выбранный Вами товар.</p>
{% endblock content %}