{% if not request.user.is_authenticated %}
	<div>
		<h3 class="text-right"><span class="">Здравствуйте, гость!</span></h3>
	</div>
	<div class="flex">
		<a href="{% url "login" %}" class="btn login">Войти</a>
		<a href="{% url 'registration' %}" class="btn btn-dark registrate">Зарегистрироваться</a>
	</div>
	
{% else %}
	<h5 class="nav-item"><a class="nav-link" href="#">Здравствуйте, {{ request.user }}!</a></h5>
	<h5 class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></h5>
{% endif %}


