{% if not request.user.is_authenticated %}
	<div>
		<h3 class="text-right"><span class="">Здравствуйте, гость!</span></h3>
	</div>
	<div class="flex">
		<a href="{% url "login" %}" class="btn login">Войти</a>
		<a href="{% url 'registration_register' %}" class="btn btn-dark registrate">Зарегистрироваться</a>
	</div>
	
{% else %}
	<div class="flex">
		<h3 class="text-right"><span class="">Здравствуйте, {{ request.user }}!</span></h3>
		<a href="{% url 'logout' %}" class="btn btn-dark registrate">Выйти</a>
	</div>
{% endif %}


