{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="payment">
	<h3 class="text-center headline">Способы оплаты</h3>
	<h4 class="text-center" style="color:darkred">Понравившиеся аксессуары Вы можете оплатить перечисленными ниже способами:</h4>
	<ol>
		<li><b>Наложенный платёж.</b> При выборе данного типа платежа Вы осуществляете оплату товара в 
		своем почтовом отделении при получении заказа. Предварительно онлайн нужно оплатить 
		только затраты за доставку вашего заказа.</li>
		<li><b>100% предоплата.</b><span style="color: darkred">Мы рекомендуем выбирать именно этот способ оплаты по двум причинам:</span></li>
	</ol>
	<ul>
		<li>Вы будете иметь дополнительную скидку 5% на весь Ваш заказ;</li>
		<li>Вы получите в подарок стильный и современный браслет на удачу «Красная нить».</li>
	</ul>
</div>



{% endblock content %}