{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<h1 class="text-center">Регистрация</h1>
<br>
<form method="post" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="col-sm-6">
            {{ form.email|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form.password1|as_crispy_field }}
        </div>
        <div class="col-sm-6">
            {{ form.password2|as_crispy_field }}
        </div>
    </div>      
    <input class="btn btn-dark" type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
